*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
/* font-family: "IBM Plex Mono",
monospace; */

/* font-family: "Cherry Bomb One",
system-ui; */
body{
    font-family: "Bree Serif", serif;
}
/* Utitlity CSS */

.hidden{
    display: none;
}
#intro{
    padding: 1.5rem 1rem;
    background: linear-gradient(to top, rgb(0, 95, 105, 1), rgba(0, 0, 0, 0)), url('/imgs/hero/mainSEC2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    color: #ffff;
}
    
header{
    display: flex;
    justify-content: space-between;

}
header h1{
    font-family: "Cherry Bomb One", serif;
    font-size: 2rem;
}
    
#menu{
    cursor: pointer;
    background-color: #00E6D4;
    border-radius: 4px;
    padding: 0.2rem;
}

#nav-bar{
    background-color: #00DECE;
    list-style: none;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 10;
    display: none;
    color: #005F69;
    padding: 1rem 2rem 1rem 1rem;
}

nav ul{
    flex-direction: column;

}

/* collapse button */

ul #nav-collapse{
    margin-right: 2rem;
    cursor: pointer;
    background-color: #00E6D4;
    border-radius: 4px;
    padding: 0.2rem;
}


ul li{
    margin-top: 1rem;
    margin-left: 1rem;
    text-align: center;
}

/* SUB catergories */

ul .mini-img{
    width: 35px;
    height: 30px;
    border-radius: 10px;
}
.sub {
    display: none;
}

/* utility */

.visible-sub{
    display: contents;
}
.sub .sub-list{
    background: linear-gradient(to right, rgb(0, 95, 105, 1),  rgb(0, 230, 212, 0.6));
    text-align: center;
    padding: 0.7rem ;
    display: flex;
    border-radius: 2px;
}
.sub-list img{
    margin-right: 0.5rem;
}

#menu-list .cat-dropdown{
    height: 20px;
    width: 20px;
    color: #005F69;
    cursor: pointer;
}

#menu-list .remove-btn{
    height: 20px;
    width: 20px;
    color: #005F69;
    cursor: pointer;
    display: none;
}

/* utility */
.visibility{
    height: 20px;
    width: 20px;
    color: #005F69;
    cursor: pointer;
}


#hero-section{
    text-align: center;
    margin: 2rem 0;
}

#brief-info p {
    position: relative;

    animation: slide 5s ease-in 1 ;
}



@keyframes slide {
    0%{
        left: 400px;
    }
    25% {
        left: -100px;
    }
    50% {
        left: -50px
    }
    75% {
        left: -40px;
    }
    85%  {
        left: -20px;
    }

    90%{
        left: -10px;
    }

    95% {
        left: -5px ;
    }
    100%{
        right: 0;
    }
}

#category-ref{
    font-family: "Bree Serif", serif;;
    background-color: #00E6D4;
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    color: #ffff;
    border-radius: 9px;
    border: 0 solid #005F69;
    cursor: pointer;
    
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

#category-ref:hover{
    animation-play-state: paused;
}

@keyframes blink {
    0%{
    }

    50% {
        font-size: 1.05rem;
    }

    100% {
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
    }
}

/* BIG Screens */

@media (min-width: 740px){
    #nav-bar{    
        height: max-content;
        z-index: 0;
        display: flex;
        background: none;
        justify-content: cente;
        padding: 0;
    }

    #menu {
        display: none;
    }
    ul #nav-collapse {
        display: none;
    }
    nav ul {
        flex-direction: row;
    
    }
}

@media (min-width: 1024px) {
    
}

@media (min-width: 1280px) {
    
}